* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer-container {
    width: 100%;
    height: auto;
}
.outer-container .header-top {
    background: #4B0082;
    color: #ffffff;
    padding: 0.3rem 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}
.outer-container .header-top .customer-support {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 46%;
    gap: 1rem;
}
.outer-container .header-top .shippg-text {
    max-width: 880px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 58%;
    gap: 5rem;
}
.outer-container .header {
    background: #ffffff;
    padding: 0.4rem 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    position: relative;
    z-index: 10;
    user-select: none;
}
.outer-container .header .nav-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 50%;
}
.outer-container .header .nav-section .logo {
    font-size: 1.87rem;
    font-weight: 600;
    color: #4B0082;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .nav-section .logo i {
    margin-right: 0.3rem;
}
.header .nav-section ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    transition: all 0.3s ease;
}
.header .nav-section ul li {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 1rem;
}
.header .nav-section ul li a {
    text-decoration: none;
}
.header .nav-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 30%;
}
.header .nav-actions .search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 1.56rem;
    padding: 0.31rem 0.93rem;
    background-color: rgba(255, 255, 255, 0.2); 
    max-width: 25rem;
}
.header .nav-actions .search-box .search-input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    font-size: 0.9rem;
    color: #504c4c; 
    padding: 0.35rem;
}
.nav-actions .search-box .search-icon i {
    font-size: 1.2rem;
    color: #4B0082;
}
.header .nav-actions .shoppg-cart {
    padding: 0.8rem;
}
.nav-actions .shoppg-cart i {
    font-size: 1.2rem;
    color: #504c4c;
}
.header .nav-actions .userPic {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.nav-actions .userPic img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
.header .toggle-menu {
    display: none;
}
.outer-container .hero-bgimage {
    height: 25rem;
    background-image: linear-gradient(to right, #5f089f, #9f0fe5);
    display: flex;
    justify-content: left;
    align-items: center;
    user-select: none;
 /*   background-image: url("assets/4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  */
}
.hero-bgimage .descrptn-text {
    color: #ffffff;
    padding-left: 3.5rem;
}
.hero-bgimage .descrptn-text h1 {
    font-size: 3rem;
    margin-bottom: 0.4rem;
}
.hero-bgimage .descrptn-text p {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
}
.hero-bgimage .descrptn-text button {
    background: #e6e2e2;
    font-size: 0.9rem;
    font-weight: 600;
    color: #4B0082;
    padding: 0.8rem 1.5rem;
    border-radius: 1rem;
    border: none;
    outline: none;
}

@media screen and (max-width: 1024px) {
    .outer-container .header-top {
        justify-content: space-between;
        gap: 1rem;
        padding: 0.5rem 1rem;
    }
    .outer-container .header-top .shippg-text {
        max-width: 412px;  
        width: 100%;
        gap: 1rem;
    }
    .outer-container .header {
        padding: 0.8rem 1rem;
    }
    .outer-container .header .nav-section {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }
    .header .nav-section ul {
        gap: 0.5rem;
    }
}

@media screen and (max-width: 768px) { 
    .outer-container .header-top {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0.5rem;
        padding: 0.6rem;
    }
    .outer-container .header-top .shippg-text {
        max-width: 348px;
        width: 100%;
        flex-wrap: wrap;
    }
    .outer-container .header-top p,
    .outer-container .header-top i {
        font-size: 0.85rem;
    }
    .outer-container .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }
    .outer-container .header .nav-section {
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    header .nav-section ul {
        width: 100%;
        flex-direction: column;
        margin-top: 1rem;
    }
    .header .nav-section ul li {
        width: 100%;
        text-align: left;
        padding: 1rem 0;
        border-bottom: 1px solid #ddd;
    }
    .header .nav-actions {
        width: 100%;
        margin-top: 1rem;
        justify-content: space-between;
    }
    .header .nav-actions .search-box {
        width: 100%;
        max-width: 35rem;
    }
    .header .toggle-menu {
        display: block;
        position: absolute;
        top: 1.2rem;
        right: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .outer-container .header-top {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0.5rem;
        padding: 0.6rem;
    }
    .outer-container .header-top .customer-support {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem; 
    }
    .outer-container .header-top .shippg-text {
        max-width: 346px;
        width: 100%;
        justify-content: center;
        gap: 1rem;
    }
    .outer-container .header-top p,
    .outer-container .header-top i {
        font-size: 0.85rem;
    }
    .outer-container .header {
        flex-direction: column;  
    }
    .outer-container .header .nav-section { 
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .header .nav-section ul {
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
    }
    .header .nav-section ul li {
        width: 100%;
        padding: 1rem 0;
        border-bottom: 1px solid #ddd;
    }
    .header .nav-actions {
        width: 100%;
        margin-top: 1rem;
        justify-content: space-between;
    }
    .header .nav-actions .search-box {
        width: 70%;
    }
    .header .toggle-menu {
        display: block;
        position: absolute;
        top: 0.8rem;
        right: 1rem;
        font-size: 1.5rem;
        color: #4B0082;
        cursor: pointer;    
    }
}

